#myprofile {
    width: 100%;
    padding: 10px;
    margin-bottom: 60px;
}

#td-image {
    vertical-align: top;
    padding-right: 50px;
}

#td-user {
    text-align: left;
}

.td-icon {
    text-align: center;
    padding-right: 10px;
}

.td-info {
    text-align: left;
}

#myprofile img {
    width: 150px;
    height: auto;
}

.myrestaurants {
    margin-bottom: 60px;
}

.myreviews > article:not(:last-child) {
    margin-bottom: 10px;
}
