#myprofile {
    padding: 10px;
    margin-bottom: 60px;
}

.img-col {
    text-align: center;
}

.edit-col {
    padding-right: 30px;
}

.edit-col i:hover {
    color: #a72230;
    cursor: pointer;
}


#td-user {
    text-align: left;
}

.td-icon {
    text-align: center;
    padding-right: 10px;
    color: #cf2230;
}

.td-info {
    text-align: left;
    color: #636363;
}

#myprofile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.myrestaurants {
    margin-bottom: 60px;
}

.central .myrestaurants> article:not(:last-child) {
    margin-bottom: 10px;
}


.myreviews > article:not(:last-child) {
    margin-bottom: 10px;
}
