@font-face {
    font-family: 'Kaushan';
    src: url("../res/fonts/KaushanScript.otf"); /*URL to font*/
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url("../res/fonts/CaviarDreams.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'Caviar Dreams Bold';
    src: url("../res/fonts/Caviar_Dreams_Bold.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'Source Sans';
    src: url("../res/fonts/SourceSansPro-Regular.otf"); /*URL to font*/
}






* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #30343f;
}

header {
    display: block;
}

header .backHeader {
    height: 56px;
}

header .pageHeader {
    background-color: #cf2230;
    width: 100%;
    position: fixed;
    z-index: 999;
}

header nav {
    width: 80%;
    display: table;
    padding-top: 3px;
    padding-bottom: 3px;
}

header nav #logo {
    display: table-cell;
    vertical-align: middle;
    height: auto;
}

header nav #logo img {
    width: 32px;
    height: auto;
    float: left;
}
header nav #texto {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
}
header nav #logo p {
    padding-left: 20px;
    font-family: 'Kaushan';
    font-size: larger;
    font-weight: bold;
    color: white;
}

header nav #logo a{
    text-decoration: none;
}

header nav #menu {
    display: table-cell;
    vertical-align: middle;
}

header nav #menu ul {
    list-style: none;
}

header nav #menu ul li {
    padding: 0 10px 0 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    font-weight: bold;
    font-family: 'Source Sans';
    font-size: 16px;
    color: white;
    margin-right: 20px;
}

header nav #menu ul li:hover{
    background-color: #a72230;
    border-radius: 3px;
}

header nav #user {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 100%;
}

header nav #user img {
    width: 50px;
    vertical-align: middle;
}

header #backg {
    display: table;
    width: 100%;
    height: 300px;
    background-image: url("../res/images/bg3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

header #search {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'Source Sans';
}

header #search p {
    font-family: 'Source Sans';
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

header #searchbar{
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 3px;
    background:url(../res/images/brush.png);
    background-size: 14px;
    background-position: 9px 12px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0 0 0 30px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

header #searchbar:focus {
    outline : none;
    width: 500px;
}

header #butt {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 3px;
    background-color: #cf2230;
    font-family: 'Source Sans';
    color: white;
    cursor: pointer;
}

header #but:hover {
    background-color: #a72230;
}

.central {
    font-family: 'Source Sans';
    background-color: #e8e8e8;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #595959;
}

.central #verrestaunrates h2 {
    font-family: 'Source Sans';
    color: #595959;
    text-align: center;
}

.central #verrestaunrates a {
    text-decoration: none;
}

.central .container {
    width: 80%;
}

.central .container .listrestaurant {
     margin-left: 0;
     width: 100%;
     display: table;
     background-color: white;
     border: 1px solid #cccccc;
     border-radius: 3px;
 }

.central .container .listrestaurant:hover {
    box-shadow: 0 0 4px 2px #b7b7b7;
}

.central .container article a {
    text-decoration: none;
    color: #595959;
}
.central .container > .listrestaurant:not(:last-child) {
    margin-bottom: 10px;
}

.central .container .listrestaurant .restaurantphoto {
    display: table-cell;
    width: 300px;
    height: 150px;
    padding-right: 30px;
}

.central .container .listrestaurant .restaurantphoto img {
    width: inherit;
    height: 150px;
    border-radius: 3px 0 0 3px;
    float: left;
}

.central .container .listrestaurant .content {
    padding-top: 5px;
    display: table-cell;
    vertical-align: top;
}

.central .contentRestaurant article {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.central .contentRestaurant > article:not(:last-child) {
    margin-bottom: 10px;
}

footer {
    height: 80px;
    width: 100%;
    display: block;
    background-color: #30343f;
}

footer .container {
    width: 80%;
    height: 100%;
    font-family: 'Source Sans';
    text-align: center;
    color: #d9d9d9;
    font-size: 12px;
    padding-top: 20px;
}

footer .container .info {
    float: left;
}

footer .container .info #github {
    width: 25px;
    height: auto;
    display: table-cell;
    vertical-align: middle;
}

footer .container .info #github img {
    width: 25px;
    opacity: 0.5;
}

footer .container .info #github img:hover {
    opacity: 1;
}

footer .container .info #github a{
    text-decoration: none;
    font-size: 12px;
    color: #d9d9d9;
}

footer .container .info #github a:hover{
    color: white;
}

footer .container .social {
    float: right;
}

footer .container #copyright {
    display: block;
    text-align: center;
}

footer .container #copyright p{
    text-align: center;
}

footer .container .social a{
    display: inline-block;
    padding-right: 20px;
}

footer .container .social img {
    width: 25px;
    opacity: 0.5;
}

footer .container .social img:hover {
    opacity: 1;
}

@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 1200px) {

}

@media screen and (min-width: 1200px) {

}

