@font-face {
    font-family: 'Kaushan';
    src: url("../res/fonts/KaushanScript.otf"); /*URL to font*/
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url("../res/fonts/CaviarDreams.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'Caviar Dreams Bold';
    src: url("../res/fonts/Caviar_Dreams_Bold.ttf"); /*URL to font*/
}

* {
    margin: 0 auto;
}

body {
    background-color: #cdd3b3;
}

header {
    background-color: #e5ebcb;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;

}

header nav {
    width: 80%;
    height: 100%;
    display: table;
}

header nav #logo {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    height: 100%;
}

header nav #logo img {
    width: 100%;
}

header nav #name {
    display: table-cell;
    padding-left: 20px;
    vertical-align: middle;
    font-family: 'Kaushan';
    font-size: larger;
    color: #7f8566;
}

header nav #search {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Caviar Dreams';
}

header nav #searchbar{
    height: 25px;
    width: 220px;
    border: none;
    border-radius: 8px;
    background:url(../res/images/brush.png);
    background-size: 16px;
    background-position: left;
    background-repeat: no-repeat;
    background-color: white;
    padding: 0 0 0 35px;
}

header nav #submit {
    background:url(../res/images/search.png);
    background-repeat: no-repeat;
    background-size: contain;
    width:25px;
    border: 0;
    text-indent:-999px
}

header nav #submit img{
    width:10px;
    height:10px;
    border: 0;
}

header nav #menu {
    display: table-cell;
    vertical-align: middle;
}

header nav #menu ul {
    list-style: none;
}

header nav #menu ul li {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    font-family: 'Caviar Dreams';
    font-size: 18px;
    color: #7f8566;
    margin-right: 20px;
}

header nav #menu ul li:hover{
    background-color: #b1b796;
    color: white;
}

header nav #user {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    height: 100%;
}

header nav #user img {
    width: 100%;
}

.central {
    font-family: 'Caviar Dreams';
    background-color: white;
}

.central .container {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.central .container article{
    margin-left: 0;
    display: table;
}

.central .container article .restaurantphoto {
    display: inline-block;
    width: 300px;
    margin-right: 20px;
}

.central .container article .restaurantphoto img {
    width: 100%;
}

.central .container article .content {
    display: table-cell;
    vertical-align: top;
}

footer {
    height: 80px;
    width: 100%;
    display: block;
    background-color: #cdd3b3;
}

footer .container {
    width: 80%;
    height: 100%;
    font-family: 'Caviar Dreams';
    text-align: center;
    color: black;
}

footer .container .info {
    display: table;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

footer .container .info #copyright {
    display: table-cell;
    vertical-align: middle;
}

footer .container .info #github {
    width: 100px;
    display: table-cell;
    vertical-align: middle;
}

footer .container .info #github img {
    width: 50px;
}

footer .container .info #github a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 1200px) {

}

@media screen and (min-width: 1200px) {

}

